<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: 'Paltino Linotype', 'Book Antiqua', serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
      
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="likelion" class="w3-bar-item w3-button w3-padding-large" style="font-family:'Paltino Linotype', 'Book Antiqua', serif; color:#ff3333; font-size:30px"><strong>likelion</strong></strong></a>
    <a href="ideathon" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style="font-family:'Paltino Linotype', 'Book Antiqua', serif; color:#ff6666; font-size:30px"><strong>ideathon</strong></a>
    <a href="debugging" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style="font-family:'Paltino Linotype', 'Book Antiqua', serif; color:#ff9999; font-size:30px"><strong>debugging</strong></a>
    <a href="about" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style="font-family:'Paltino Linotype', 'Book Antiqua', serif; color:#ffcccc; font-size:30px"><strong>about</strong></a>

  </div>
</div>
  <div class="w3-content" id="idea" style= "background-color: #ffe6e6">
    <div class="w3-container w3-content w3-padding-64" style="max-width:%100; background-color:#ffe6e6">
      <h2 class="w3-wide w3-center" style="font-family:'Paltino Linotype', 'Book Antiqua', serif; color:black; font-size:30px"><b>Share your ideas!</b></h2>
      <p class="w3-opacity w3-center" style="font-family:'Paltino Linotype', 'Book Antiqua', serif; color:black; font-size:20px"><i>Have any idea that you want to share with your fellow likelion members?</i></p><br>
      
      <ul class="w3-ul w3-border w3-grey w3-text-black">
        <li class="w3-padding"><b>Please follow the rules listed below:</b></li>
        <li class="w3-padding"><b>Your ideas will be censored / deleted if they are inappropriate.</b></li>
        <li class="w3-padding"><b>Please do not share anything irrelevant to our website.</b></li>
        <li class="w3-padding"><b>Please respect others' ideas.</b></li>
      </ul>
      
     <div class="w3-row-padding w3-padding-32" style="margin:0 -16px; background-color: #ffe6e6">
     
     <% @ideas.each do |i| %>
      <div class="w3-third w3-red w3-margin-bottom">
          <div class="w3-container w3-black">
            <p><b><a href="/viewidea?id=<%=i.id%>" style="text-decoration: none">Title: <%=i.title %> </a></b></p>
            <p class="w3-opacity">>by <%=i.author%></p>
           </div>
           
      </div>
      
     <% end %>
     <input class="w3-button w3-black" type= "submit" style ="color:#F7CE36; margin-left:44%"  value="Submit Idea"  OnClick="window.location='/writeidea'" class="cssbutton">
     </div>
  </div>
</div>

<!-- End Page Content -->
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-black w3-center w3-xlarge" >
  <a href="https://www.facebook.com/likelion.net/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  <a href="https://likelion.net/en"><img src="likelionwhite2.png" style="width:100px; height:20px; margin-bottom:0.1px"/></a>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>